<% if @current_user %>
<p class="user">
<%= link_to @current_user.login_name, user_path(@current_user) %>さん　
<%= link_to "ログアウト", :session,
     method: :delete, confirm: "ログアウトしますか？" %>
</p>
<% end %>
